section {
    padding:20px
  
}
body{
    margin: 10px;
    margin-left: 340px;


 
  }
  header{
    display: block;
    background-color: #E8FFFF;
    height:300px;
    margin-top: 30px;

  }
 #topName{
    display:block;
    text-align: left;
    margin:0;
    padding-top:30px;

}
#bottomName{
    margin:0;
    padding:0;
    text-align: left;

}
#name{
    padding-left: 40px;
    font-size: 40px;
    display:inline-block;
    margin-left: 40;

}
#jobTitle{
    margin:0;
    padding:0;
    font: 15px Montserrat all-caps;, sans-serif;
}
  main{
      display:inline-block;
  }

#executiveSummary{

}
#education {
    
}
#skills {
    
}
#contact{

   
}
#references{
        
}
#experience{

}
#profilepic{
  display: inline;
  margin: 0 auto;
  border-radius:50% 50% 50% 50%;
  height: 300px;
  width: auto;
}
.image-cropper {
    display: inline;
    position: relative;
    overflow: hidden;
     
}
#right{
    margin-top: -300px;
    text-align: left;
    position: fixed;
    left: 40px;
    background-color: #E8FFFF;
    width: 300px;
}
#left{
    padding-left: 40px;
    position: inline;
    text-align: left;
    width: 300px;
    float: left;
    
}
.column{
    display: inline-block;
  

}


@media (max-width: 800px) {
    #left{
        text-align: left;
        display: block;
        left: 40px;
        background-color: #E8FFFF;
        width: 300px;
        
    }
}
.btn {
    background-color: #E8FFF;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  